
{% extends 'base.html' %}
{% load static %}
{% block title %}编辑待办事项{% endblock %}
{% block css %}{% static 'css/edit.css' %}{% endblock %}
{% block content %}
    <br>
    <form id="form-edit" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="editTodo"></label>
            <input name="changedevent" class="form-control form-control-lg" id="editTodo" type="text" value="{{ event }}">
            <small id="help" class="form-text text-muted">在这里编辑待办事项</small>
        </div>
        {% if err %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true"></span>
            </button>
            <strong>{{ err }}</strong>

        </div>
    {% endif %}
        <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>
    </form>
{% endblock %}